{% extends 'base.html' %}

{% block content %}
    <div class="new_show_con fl mt3 only-desktop" style="padding: 30px 20px 30px 20px;">

        <div class="has-text-centered title is-5 is-spaced">广东华亚印刷有限公司</div>
        <div class="has-text-centered subtitle is-6"><span>2017年09月11日 13:42</span>&nbsp;&nbsp;<span>来源：华亚快印</span>&nbsp;&nbsp;
            编辑： <span>陈忠义</span>
        </div>
        <div class="news_con_box" id="news_content">

            <!--  编辑器里面内容  -->
            <p>
                <span style="font-size: 14px;"></span>
            </p>
            <p class="MsoNormal" style="text-indent:21.0pt;">
                <br>
            </p>
            <p class="MsoNormal" style="white-space:normal;text-indent:21pt;">
                “华亚快印”是一家全国连锁产销型的商务印刷电商品牌，公司拥有先进的进口印刷生产设备及高技能人才。主要从事画册、广告宣传单、高档特种纸名片、广告手提袋、不干胶、产品吊牌、信封、信纸、文件袋、贺卡等商务短版印刷。公司投巨资引进多台进口全新印刷设备、提供印前印后加工及免费配送一站式服务，是国内最早开发网络商务印刷供应商。
            </p>
            <p class="MsoNormal" style="white-space:normal;text-indent:21pt;">
                <br>
            </p>
            <p class="MsoNormal" style="white-space:normal;text-indent:26.25pt;">
                由于华亚全体职员的不懈努力，使我们在印刷事业的位置上蒸蒸日上。公司以人为本的原则、诚信务实认真负责的创业精神、以“客户是我们的衣食父母”为经营理念与客户搭建相互信任的桥梁。公司不断追求“高品质、高效率”、注重营造核心价值与精神财富、注重安全生产、注重现代科学管理及品牌建设、不断提升服务质量、最大限度满足客户需求，超越客户期望。近年来商务印刷市场急速增长，使短版印刷技术又上了新台阶。物流通路也提供了更好更快捷的服务。交货时间得到快捷安全的保障，更能为您提供高品质高效率的印刷服务。
            </p>
            <p class="MsoNormal" style="white-space:normal;text-indent:26.25pt;">
                <br>
            </p>
            <p class="MsoNormal" style="white-space:normal;text-indent:26.25pt;">
                公司拥有进口印刷机余百台，出版机台、骑订龙、胶装龙等后加工设备齐全。大小配送货车辆百余辆，先进的品质管理理念，高速的生产效率，遍布免费送货网络，全方位满足客户需求。
            </p>
            <p>
                <br>
            </p>
            <p class="MsoNormal" style="text-indent:26.25pt;">
                <span></span><span></span><span></span><span></span><span></span>
            </p>
            <p class="MsoNormal" style="text-indent:26.25pt;">
                <br>
            </p>
            <p class="MsoNormal">
                <span> </span>
            </p>
            <p class="MsoNormal">
                <strong>公司经营理念</strong>
            </p>
            <p class="MsoNormal">
                营销理念：客户是我们的衣食父母！
            </p>
            <p class="MsoNormal">
                营销精神：最大限度满足客户需求！
            </p>
            <p class="MsoNormal">
                服务宗旨：全心全意的为客户服务！
            </p>
            <p class="MsoNormal">
                工作向导：以客户的满意度为标准！
            </p>
            <p class="MsoNormal">
                竭诚欢迎各界朋友与我们洽谈合作、携手共创辉煌事业！
            </p>
            <p class="MsoNormal">
                <br>
            </p>
            <p class="MsoNormal">
                <span> </span>
            </p>
            <p class="MsoNormal">
                企业名称：东莞市华亚印刷有限公司
            </p>
            <p class="MsoNormal">
                电话：0769-28633918 &nbsp;28633938
            </p>
            <p class="MsoNormal">
                企业QQ：800005246<br>
                地址：广东省东莞市万江区简沙洲创业工业路7号（翰林学校对面）<span></span>
            </p>
            <p class="MsoNormal">
                <iframe src="http://www.gdhuaya.com/kindeditor/plugins/baidumap/index.html?center=113.711319%2C23.019424&amp;zoom=18&amp;width=558&amp;height=360&amp;markers=113.711319%2C23.019424&amp;markerStyles=l%2CA"
                        frameborder="0" style="width:560px;height:362px;">
                </iframe>
            </p>
            <p class="MsoNormal">
                <br>
            </p>
            <p>
                <br>
            </p>
            <p>
                <strong><span style="font-size:18px;">配送网点</span></strong>
            </p>
            <p>
	<span style="font-size:16px;"><strong><br>
</strong></span>
            </p>
            <p>
                <span style="font-size:14px;"><strong>1.</strong></span><span
                    style="font-size:14px;"><strong>东莞市万江区总部</strong></span><span></span><br>
                <span style="font-size:16px;"><strong></strong></span>
            </p>
            <p>
	<span style="font-size:16px;"><span style="font-size:12px;">网点名称：东莞市万江区总部</span><br>
<span style="font-size:12px;">负责人： 李先生</span><br>
<span style="font-size:12px;">联系电话： 0769-28633918 28633938 </span></span>
            </p>
            <p>
                <span style="font-size:12px;">名片处理联系电话：座机转8027&nbsp;&nbsp; 8025&nbsp; 8023&nbsp; 8030</span>
            </p>
            <p>
                <span style="font-size:12px;">单张（手袋、封套、利是封、信封等）：座机转8033&nbsp;&nbsp; 8039&nbsp; 8040&nbsp; 8044</span>
            </p>
            <p>
                <span style="font-size:12px;">画册处理联系人：座机转8041&nbsp; 8047&nbsp; 8043</span>
            </p>
            <p>
                <span style="font-size:12px;">拼版人员：座机转8035&nbsp; 8037</span>
            </p>
            <p>
                <span style="font-size:12px;">公司地址： </span><span style="font-size:12px;">东莞市万江区简沙洲创业工业路7号（</span><span
                    style="font-size:12px;">翰林学校对面）</span>
            </p>
            <p>
	<span style="font-size:16px;">
	<iframe style="width:560px;height:362px;"
            src="http://www.gdhuaya.com/kindeditor/plugins/baidumap/index.html?center=113.711827%2C23.019511&amp;zoom=19&amp;width=558&amp;height=360&amp;markers=113.711827%2C23.019511&amp;markerStyles=l%2CA"
            frameborder="0">
	</iframe>
<br>
</span>
            </p>
            <p>
                <br>
            </p>
            <p style="white-space:normal;font-size:16px;">
                <span style="font-size:14px;"><strong>2.</strong></span><span
                    style="font-size:14px;"><strong>广州三元里分点</strong></span><br>
                <span style="font-size:16px;"><strong></strong></span>
            </p>
            <p style="white-space:normal;font-size:16px;">
	<span style="font-size:16px;"><span style="font-size:12px;">网点名称：广州三元里分部</span><br>
<span style="font-size:12px;">负责人： 王艳伟</span></span>
            </p>
            <p style="white-space:normal;">
                <span style="line-height:21px;font-size:12px;"><span
                        style="line-height:21px;white-space:normal;font-size:12px;">手机：13763219311</span></span>
            </p>
            <p style="white-space:normal;">
                <span style="line-height:21px;font-size:12px;">经理：李寒中</span>
            </p>
            <p style="white-space:normal;">
	<span style="line-height:21px;font-size:14px;"><span style="font-size:12px;">手机：18029066999</span><br>
</span><span style="font-size:12px;">联系电话： 0769-28633918 28633938</span>
            </p>
            <p style="white-space:normal;">
                <span style="font-size:12px;">分点地址： 广州市白云区三元里松柏北街机场路90号</span>
            </p>
            <p style="white-space:normal;">
	<span style="font-size:14px;">
	<iframe style="width:560px;height:362px;"
            src="http://www.gdhuaya.com/kindeditor/plugins/baidumap/index.html?center=113.270304%2C23.168648&amp;zoom=19&amp;width=558&amp;height=360&amp;markers=113.270304%2C23.168648&amp;markerStyles=l%2CA"
            frameborder="0">
	</iframe>
<br>
</span>
            </p>
            <p style="white-space:normal;">
                <span style="font-size:14px;"> </span>
            </p>
            <p style="white-space:normal;font-size:16px;">
                <strong><span style="font-size:14px;">3.广州天河区送货</span></strong><br>
                <strong></strong>
            </p>
            <p style="white-space:normal;font-size:16px;">
                <span style="font-size:14px;"><span style="font-size:12px;">网点名称：</span><strong
                        style="line-height:24px;white-space:normal;font-size:16px;"><span style="font-size:12px;">广州天河区送货</span></strong></span><br>
                <span style="font-size:12px;">经理：邓权辉</span>
            </p>
            <p style="white-space:normal;">
                <span style="line-height:21px;font-size:12px;">手机：18029066939</span>
            </p>
            <p style="white-space:normal;">
                <span style="font-size:12px;">送货员：雷水明</span>
            </p>
            <p style="white-space:normal;">
                <span style="font-size:12px;">手机：18102593803</span>
            </p>
            <p style="white-space:normal;">
                <br>
            </p>
            <br>
            <p>
                <br>
            </p>
            <span style="font-size:small;"></span>
            <p>
                <br>
            </p>
            <p>
	<span style="font-size:16px;"><br>
</span>
            </p>
            <p>
	<span style="font-size:16px;"><br>
</span>
            </p>
            <p>
                <br>
                <span style="font-size:16px;"></span>
            </p>
            <p>
	<span style="font-size:16px;"><br>
</span>
            </p>
            <!--  编辑器里面内容  end -->

        </div>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock %}