{% extends 'base.html' %}

{% block content %}
    <div id="main-navbar" class="nav-box">
        <nav class="navbar only-desktop nav-main" role="navigation" aria-label="main navigation">
            <div class="navbar-menu"><div class="navbar-start">
            <div class="navbar-item nav-head has-dropdown is-active">
                <a class="nav-head-btn navbar-link is-arrowless">
                    <span class="gicon"></span>
                    <span class="gtitle">产品分类信息</span>
                </a>
                <div class="navbar-dropdown nav-dropdown">
                    <cate-groups v-for="cate in categorys" :category="cate"></cate-groups>
                </div>

{#                <script type="text/javascript">#}
{#                    $(function () {#}
{#                        $(".glist .li").hover(function () {#}
{#                            $(this).find('.i-list').show().end().addClass("selected1").find('.li-tit').css('color', 'black');#}
{#                            $(this).find('.i-list').show().end().addClass("selected1").find('.li-content a').css('color', '#666');#}
{#                        }, function () {#}
{#                            $(this).find('.i-list').hide().end().removeClass("selected1").find('.li-tit').css('color', '');#}
{#                            $(this).find('.i-list').hide().end().removeClass("selected1").find('.li-content a').css('color', '');#}
{#                        });#}
{#                    });#}
{#                </script>#}
            </div>
            <a class="navbar-item nav-btn selected">首页</a>
            <a class="navbar-item nav-btn">在线报价</a>
            <a class="navbar-item nav-btn">下载专区</a>
            </div></div>
        </nav>
    </div>

    <script type="text/javascript">
        Vue.component('cate-groups', {
            props: ['category'],
            data: function() {
               return {
                   isSel: false
               }
            },
            template: `
                <div class="li" @mouseover="onCateOver" @mouseleave="onCateLeave" :class="{selected: isSel}">
                    <div class="li-tit" style="">[[ category.title ]]</div>
                    <div class="li-content">
                        <a href="javascript:void(0)" style="">
                            [[ category.summary ]] </a>
                    </div>
                    <div class="i-list" style="margin-top: -285px; display: none;">
                        <div class="lt">
                            <dl class="firstdl">
                                <template v-for="group in category.groups">
                                    <dt class="firstdd1" :key="group.id">
                                        <div :class="'status'+group.status"></div>
                                        <a :title="group.name"
                                           href="/qts/quo_price/quotation?product_code=ZB013&amp;id=27&amp;intype=web ">[[ group.name ]]</a>
                                        <div style="width:52.8px"></div>
                                    </dt>
                                    <dd class="firstdd2" v-for="item in group.items" :key="item.id">
                                        <div :class="'status'+item.status"></div>
                                        <a :title="item.name"
                                           href="/qts/quo_price/quotation?product_code=ZB013&amp;id=27&amp;intype=web "
                                           :class="'statusa'+item.status">item.name</a>
                                    </dd>
                                </template>
                            </dl>
                        </div>
                    </div>
                </div>
            `,
            methods: {
                onCateOver: function(event) {
                    this.isSel = true
                },
                onCateLeave: function(event) {
                    this.isSel = false
                }
            }
        });

        new Vue({
            el: "#main-navbar",
            data: {
                categorys: [
                    {
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },{
                        title: '名片 PVC名片',
                        summary: '铜版纸名片 特种纸名片',
                        groups: {
                            name: '特种纸名片',
                            status: 0,
                            items: [
                                {name: '冰白纸', status: 2},
                                {name: '安格纸', status: 2},
                                {name: '刚古纸', status: 0},
                                {name: '合成纸', status: 0},
                                {name: '蛋壳纸', status: 0},
                                {name: '布纹纸', status: 2},
                                {name: '荷兰白', status: 2},
                                {name: '幻彩纸', status: 1},
                                {name: '蝶影纹', status: 1},
                                {name: '白宝星', status: 1},
                                {name: '港纹纸', status: 1},
                                {name: '丝棉纸', status: 1},
                                {name: '磨砂水晶', status: 2},
                                {name: '磨砂铂晶', status: 2},
                                {name: '星雨纸', status: 1},
                            ]
                        }
                    },
                ],
            }
        })
    </script>

{% endblock content %}