{% extends 'base.html' %}

{% block content %}
    <nav-main id="main-navbar"></nav-main>

    <div class="only-desktop" style="margin-bottom: 40px;">
        <div class="media">
            <div class="media-content ad-slide-box" style="">


            </div>
            <div class="media-right login-info-box" style="">

            </div>
        </div>
        <div class="level" style="margin-top: 10px;">
{#            <div class="level-left">#}
                <div class="" style="width: 175px;height: 175px; border: 1px solid grey;"></div>
                <div style="width: 219px;height: 175px;margin-left: 7px; border: 1px solid grey;"></div>
                <div style="width: 219px;height: 175px;margin-left: 7px; border: 1px solid grey;"></div>
                <div style="width: 219px;height: 175px;margin-left: 7px; border: 1px solid grey;"></div>
                <div style="width: 219px;height: 175px;margin-left: 7px; border: 1px solid grey;"></div>
{#            </div>#}
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">广告产品 </span>
                    <span class="is-size-7">广告材料加工&nbsp; &nbsp; 厂家直送全部</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">广告纸杯 </span>
                    <span class="is-size-7">1千个起印</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">热销名片</span>
                    <span class="is-size-7">众多产品 供您选择</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">办公印品</span>
                    <span class="is-size-7"></span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">宣传单张</span>
                    <span class="is-size-7">最低惊爆价</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">企业画册</span>
                    <span class="is-size-7">全新机印刷全部</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">不干胶</span>
                    <span class="is-size-7"></span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>

        <div class="level" style="margin-top: 36px;margin-bottom: 12px;">
            <div style="border-left: 7px solid #D13800; padding-left: 10px;">
                <p><span class="is-size-5">数码快印</span>
                    <span class="is-size-7">一张起印</span></p>
            </div>
            <div class="level-right">
                <a class="button is-danger is-small" style="padding: 0.2em;height: 1.5em;background-color: #D13800;">全部</a>
            </div>
        </div>
        <div class="columns is-gapless is-multiline">
            <div class="column is-two-fifths" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
            <div class="column is-one-fifth" style="height: 248px;border: 1px solid #f5f5f5;"></div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {% include 'components/nav.html' %}
    <script type="text/javascript">
        new Vue({
            delimiters:['[[', ']]'],
            el: "#app"
        })
    </script>
{% endblock %}