{% extends 'base.html' %}

{% block content %}
    <div class="only-desktop" style="padding: 10px 0 20px 0;">
        <h2 class="projectitle">
            合版报价项目 <span class="summary">
					(客服：夏小姐 18029066956,美工电话：18028982159,区域经理：王经理 13829177435)					</span>
        </h2>
        <div class="projectlist tog_price level">
            <div class="level-left">
                <!--   报价item   -->
                <a rel="project1" fresh="false" cartid="HB001" class="projectitem"
                   href="/quote?product_code=HB001&amp;id=1&amp;intype=web" title="">
                    <img src="/static/img/20170605160616qWCxPDGqT3Hgwh7466.png" width="42" height="42"
                         alt="合版名片">
                    <div class="buttonContent"> 合版名片</div>
                </a>
                <a rel="project12" fresh="false" cartid="HB005" class="projectitem"
                   href="/quote?product_code=HB005&amp;id=12&amp;intype=web" title="">
                    <img src="/static/img/20140815100849beUAGLmdNlrLwp5700.png" width="42" height="42" alt="PVC名片">
                    <div class="buttonContent"> PVC名片</div>
                </a>
                <a rel="project14" fresh="false" cartid="HB006" class="projectitem"
                   href="/quote?product_code=HB006&amp;id=14&amp;intype=web" title="">
                    <img src="/static/img/20170605170612IHipdTinW1HRxx9405.png" width="42" height="42"
                         alt="广告纸杯">
                    <div class="buttonContent"> 广告纸杯</div>
                </a>
                <a rel="project5" fresh="false" cartid="HB004" class="projectitem"
                   href="/quote?product_code=HB004&amp;id=5&amp;intype=web" title="">
                    <img src="/static/img/20140819120830c3TRwgPFWckUkH4593.png" width="42" height="42" alt="特价不干胶">
                    <div class="buttonContent"> 特价不干胶</div>
                </a>
                <a rel="project2" fresh="false" cartid="HB002" class="projectitem"
                   href="/quote?product_code=HB002&amp;id=2&amp;intype=web" title="">
                    <img src="/static/img/20170606100631yVT8Togr7hO0TL2453.png" width="42" height="42"
                         alt="合版彩页">
                    <div class="buttonContent"> 合版彩页</div>
                </a>
                <a rel="project16" fresh="false" cartid="HB007" class="projectitem"
                   href="/quote?product_code=HB007&amp;id=16&amp;intype=web" title="">
                    <img src="/static/img/20170605160622Hxi9pEnQgaEaEo8402.png" width="42" height="42"
                         alt="合版信封">
                    <div class="buttonContent"> 合版信封</div>
                </a>
            </div>
        </div>
        <h2 class="projectitle">
            专版报价项目 <span class="summary">
					(客服：夏小姐 18029066956,美工电话：18028982159,区域经理：王经理 13829177435)					</span>
        </h2>
        <div class="projectlist tog_price level">
            <div class="level-left">
                <a rel="project2" fresh="false" cartid="ZB002" class="projectitem"
                   href="/quote?product_code=ZB002&amp;id=2&amp;intype=web" title="">
                    <img src="/static/img/20170606100631Vnct4aH77qXFgg123.png" width="42" height="42"
                         alt="画册">
                    <div class="buttonContent"> 画册</div>
                </a>
                <a rel="project1" fresh="false" cartid="ZB001" class="projectitem"
                   href="/quote?product_code=ZB001&amp;id=1&amp;intype=web" title="">
                    <img src="/static/img/20170606100654sQbggBF04WH45F1400.png" width="42" height="42"
                         alt="专版彩页">
                    <div class="buttonContent"> 专版彩页</div>
                </a>
                <a rel="project5" fresh="false" cartid="ZB005" class="projectitem"
                   href="/quote?product_code=ZB005&amp;id=5&amp;intype=web" title="">
                    <img src="/static/img/20170605170615DduXqVKlXcehPt8121.png" width="42" height="42"
                         alt="手提袋">
                    <div class="buttonContent"> 手提袋</div>
                </a>
                <a rel="project28" fresh="false" cartid="ZB014" class="projectitem"
                   href="/quote?product_code=ZB014&amp;id=28&amp;intype=web" title="">
                    <img src="/static/img/20170606100641x8WKkut9tGCvHW4253.png" width="42" height="42"
                         alt="档案袋">
                    <div class="buttonContent"> 档案袋</div>
                </a>
                <a rel="project4" fresh="false" cartid="ZB004" class="projectitem"
                   href="/quote?product_code=ZB004&amp;id=4&amp;intype=web" title="">
                    <img src="/static/img/20160916180956HxwSwgqFs5DISR8394.png" width="42" height="42"
                         alt="封套">
                    <div class="buttonContent"> 封套</div>
                </a>
                <a rel="project6" fresh="false" cartid="ZB006" class="projectitem"
                   href="/quote?product_code=ZB006&amp;id=6&amp;intype=web" title="">
                    <img src="/static/img/201408191308164SdQeQThTFHrYu6139.png" width="42" height="42" alt="不干胶">
                    <div class="buttonContent"> 不干胶</div>
                </a>
                <a rel="project8" fresh="false" cartid="ZB007" class="projectitem"
                   href="/quote?product_code=ZB007&amp;id=8&amp;intype=web" title="">
                    <img src="/static/img/20170605170654Ryv9GiGLIIOG1D6884.png" width="42" height="42"
                         alt="信封">
                    <div class="buttonContent"> 信封</div>
                </a>
                <a rel="project9" fresh="false" cartid="ZB008" class="projectitem"
                   href="/quote?product_code=ZB008&amp;id=9&amp;intype=web" title="">
                    <img src="/static/img/20170605170653yiWpFflBE8CwtA6975.png" width="42" height="42"
                         alt="吊牌">
                    <div class="buttonContent"> 吊牌</div>
                </a>
                <a rel="project29" fresh="false" cartid="ZB015" class="projectitem"
                   href="/quote?product_code=ZB015&amp;id=29&amp;intype=web" title="">
                    <img src="/static/img/20170605170622lwoWCNNv1Tc1171600.png" width="42" height="42"
                         alt="利是封">
                    <div class="buttonContent"> 利是封</div>
                </a>
                <a rel="project27" fresh="false" cartid="ZB013" class="projectitem"
                   href="/quote?product_code=ZB013&amp;id=27&amp;intype=web" title="">
                    <img src="/static/img/201609161809252SIxlpGNswXknL2840.png" width="42" height="42"
                         alt="无碳联单">
                    <div class="buttonContent"> 无碳联单</div>
                </a>
                <a rel="project20" fresh="false" cartid="ZB011" class="projectitem"
                   href="/quote?product_code=ZB011&amp;id=20&amp;intype=web" title="">
                    <img src="/static/img/20140819130830ggbCivsxkCm02q586.png" width="42" height="42" alt="信纸表格">
                    <div class="buttonContent"> 信纸表格</div>
                </a>
                <a rel="project22" fresh="false" cartid="ZB012" class="projectitem"
                   href="/quote?product_code=ZB012&amp;id=22&amp;intype=web" title="">
                    <img src="/static/img/20140819130840QLB5SPWttXK59s1609.png" width="42" height="42" alt="单张快印">
                    <div class="buttonContent"> 单张快印</div>
                </a>
                <a rel="project65" fresh="false" cartid="ZB027" class="projectitem"
                   href="/quote?product_code=ZB027&amp;id=65&amp;intype=web" title="">
                    <img src="/static/img/20140819130840QLB5SPWttXK59s1609.png" width="42" height="42" alt="画册快印">
                    <div class="buttonContent"> 画册快印</div>
                </a>
            </div>
        </div>
        <h2 class="projectitle">
            广告报价项目 <span class="summary">
					(咨询热线：0769-87076711)					</span>
        </h2>
        <div class="projectlist tog_price level">
            <div class="level-left">
                <!--   报价item   -->
                <a rel="project43" fresh="false" cartid="AD001" class="projectitem"
                   href="/quote?product_code=AD001&amp;id=43&amp;intype=web" title="">
                    <img src="/static/img/20181019101008oTXywTV4bV8Mm24187.png" width="42" height="42"
                         alt="室内写真">
                    <div class="buttonContent"> 室内写真</div>
                </a>
                <a rel="project44" fresh="false" cartid="AD002" class="projectitem"
                   href="/quote?product_code=AD002&amp;id=44&amp;intype=web" title="">
                    <img src="/static/img/20181019101048xoaS0LKUsH2W9C7018.png" width="42" height="42"
                         alt="户外写真">
                    <div class="buttonContent"> 户外写真</div>
                </a>
                <a rel="project74" fresh="false" cartid="AD013" class="projectitem"
                   href="/quote?product_code=AD013&amp;id=74&amp;intype=web" title="">
                    <img src="/static/img/20181019101027x4vG1TpsiDxB2W7241.png" width="42" height="42"
                         alt="户外喷绘">
                    <div class="buttonContent"> 户外喷绘</div>
                </a>
                <a rel="project54" fresh="false" cartid="AD005" class="projectitem"
                   href="/quote?product_code=AD005&amp;id=54&amp;intype=web" title="">
                    <img src="/static/img/20181026231057coRp5uGBQ2yHPV9268.png" width="42" height="42"
                         alt="平板UV">
                    <div class="buttonContent"> 平板UV</div>
                </a>
                <a rel="project67" fresh="false" cartid="AD009" class="projectitem"
                   href="/quote?product_code=AD009&amp;id=67&amp;intype=web" title="">
                    <img src="/static/img/20181019111040W8ovf6hVFXYKQs1789.png" width="42" height="42"
                         alt="展架">
                    <div class="buttonContent"> 展架</div>
                </a>
                <a rel="project68" fresh="false" cartid="AD010" class="projectitem"
                   href="/quote?product_code=AD010&amp;id=68&amp;intype=web" title="">
                    <img src="/static/img/201810191210325NPCsV0FH1gHkL8514.png" width="42" height="42"
                         alt="易拉宝">
                    <div class="buttonContent"> 易拉宝</div>
                </a>
                <a rel="project45" fresh="false" cartid="AD003" class="projectitem"
                   href="/quote?product_code=AD003&amp;id=45&amp;intype=web" title="">
                    <img src="/static/img/20181101231110kxCmT5eKNqGtUN8098.png" width="42" height="42"
                         alt="水晶字">
                    <div class="buttonContent"> 水晶字</div>
                </a>
                <a rel="project55" fresh="false" cartid="AD006" class="projectitem"
                   href="/quote?product_code=AD006&amp;id=55&amp;intype=web" title="">
                    <img src="/static/img/20181101231125FhhWgwBnWfGXwo2967.png" width="42" height="42"
                         alt="PVC字">
                    <div class="buttonContent"> PVC字</div>
                </a>
                <a rel="project46" fresh="false" cartid="AD004" class="projectitem selected"
                   href="/quote?product_code=AD004&amp;id=46&amp;intype=web" title="">
                    <img src="/static/img/20181101231132SPEgrAhgXdkbQo7929.png" width="42" height="42"
                         alt="条幅">
                    <div class="buttonContent"> 条幅</div>
                </a>
                <a rel="project72" fresh="false" cartid="AD011" class="projectitem"
                   href="/quote?product_code=AD011&amp;id=72&amp;intype=web" title="">
                    <img src="/static/img/20181101231105AUtkGMLR80mywv122.png" width="42" height="42"
                         alt="锦旗/绶带">
                    <div class="buttonContent"> 锦旗/绶带</div>
                </a>
                <a rel="project57" fresh="false" cartid="AD008" class="projectitem"
                   href="/quote?product_code=AD008&amp;id=57&amp;intype=web" title="">
                    <img src="/static/img/20181101201100SLQqYMsN2bgb668783.png" width="42" height="42"
                         alt="不干胶刻字">
                    <div class="buttonContent"> 不干胶刻字</div>
                </a>
                <a rel="project76" fresh="false" cartid="AD015" class="projectitem"
                   href="/quote?product_code=AD015&amp;id=76&amp;intype=web" title="">
                    <img src="/static/img/20181101221154wbskWXleNUAL5u1940.png" width="42" height="42"
                         alt="金属字">
                    <div class="buttonContent"> 金属字</div>
                </a>
                <a rel="project75" fresh="false" cartid="AD014" class="projectitem"
                   href="/quote?product_code=AD014&amp;id=75&amp;intype=web" title="">
                    <img src="/static/img/20181101221107iAmMnnoowHylSo6503.png" width="42" height="42"
                         alt="发光字">
                    <div class="buttonContent"> 发光字</div>
                </a>
            </div>
        </div>
        <h2 class="projectitle">合版名片自助报价：
            <span class="summary">圆角名片工艺升级!暂时只能切90*54mm,90*50mm两种尺寸。只能4个圆角。其他规格建议模切。</span>
        </h2>
        <form style="margin: 10px 0 0 10px;" method="get" action="#" class="is-size-6">
            <div class="card">
                <div class="card-header"><label class="label card-header-title">选择类别:</label></div>
                <div class="card-content control">
                    <label class="radio"><input type="radio" name="category">铜版纸名片</label>
                    <label class="radio"><input type="radio" name="category">特种纸名片</label>
                </div>
            </div>
            <div class="card">
                <div class="card-header"><label class="label card-header-title">选择材料:</label></div>
                <div class="card-content control">
                    <label class="radio"><input type="radio" name="material">冰白纸</label>
                    <label class="radio"><input type="radio" name="material">荷兰白</label>
                    <label class="radio"><input type="radio" name="material">安格纸</label>
                    <label class="radio"><input type="radio" name="material">刚古纸</label>
                    <label class="radio"><input type="radio" name="material">布纹纸</label>
                    <label class="radio"><input type="radio" name="material">蛋壳纸</label>
                    <label class="radio"><input type="radio" name="material">合成纸</label>
                    <label class="radio"><input type="radio" name="material">白宝星</label>
                    <label class="radio"><input type="radio" name="material">蝶影纹</label>
                    <label class="radio"><input type="radio" name="material">港纹纸</label>
                    <label class="radio"><input type="radio" name="material">幻彩纸</label>
                    <label class="radio"><input type="radio" name="material">丝棉纸</label>
                    <label class="radio"><input type="radio" name="material">磨砂水晶(黄)</label>
                    <label class="radio"><input type="radio" name="material">星雨纸</label>
                    <label class="radio"><input type="radio" name="material">磨砂铂晶(白)</label>
                </div>
            </div>

            <div class="card">
                <div class="card-content">
                    <div class="level">
                        <div class="field">
                            <label class="label">选择尺寸:</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>90x54</option>
                                        <option>182x54</option>
                                        <option>110x90</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">单双面:</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>单面</option>
                                        <option>双面</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">款数:</label>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option>1</option>
                                    </select>
                                </div>
                                款
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">印刷数量:</label>
                            <div class="control">
                                <input class="input" type="number" placeholder="" maxlength="50" style="width: 80px;">
                                盒(1盒100张)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field card">
                <div class="card-header"><label class="card-header-title label">后道工序选择 :</label></div>
                <div class="card-content control">
                    <div class="columns is-multiline">

                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">
                            <select>
                                <option>覆亮膜</option>
                                <option>覆哑膜</option>
                            </select>
                        </label>

                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">打孔</label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">切圆角
                            <select>
                                <option>4</option>
                            </select>
                            角
                        </label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">烫金
                            <input type="number" style="width:40px;">x<input type="number" style="width:40px;">mm
                            <select>
                                <option>正面</option>
                                <option>反面</option>
                            </select>
                            <select>
                                <option>亮金色</option>
                            </select>
                        </label>
                        <label class="checkbox column is-one-third"><input type="checkbox" name="postproc">烫金号码
                            <select>
                                <option>亮银色</option>
                                <option>亮金黄</option>
                                <option>黑色</option>
                                <option>红色</option>
                                <option>绿色</option>
                                <option>蓝色</option>
                            </select>
                        </label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">无色凹凸</label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">压线<input type="number" style="width: 40px;">条
                        </label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">啤针孔线<input type="number" style="width: 40px;">条
                        </label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">模切‖啤异型</label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">毛边出货</label>
                        <label class="checkbox column is-one-third">
                            <input type="checkbox" name="postproc">切成品<input type="number" style="width: 40px;">
                            x
                            <input type="number" style="width: 40px;">mm
                        </label>
                    </div>
                </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-primary is-medium is-radiusless" type="submit" style="">立即报价</button>
                </div>
                <div class="control">
                    <button class="button is-primary is-medium is-radiusless" type="submit" style="">立即下单</button>
                </div>
            </div>
        </form>

        <tabs type="is-boxed" :activeTab="0" style="margin: 10px 0px 10px 10px;">
            <tab-item class="resultbox g-item" label="报价结果">
                <table width="100%" cellspacing="0" id="qtstable" cellpadding="0" border="0"
                       class="table">
                    <thead>
                    <tr align="center">
                        <th width="18%">
                            <strong>数量</strong>
                        </th>
                        <th width="14%">
                            <strong>印刷费（元）</strong>
                        </th>
                        <th width="12%">
                            <strong>后道工序（元）</strong>
                        </th>
                        <th width="28%">
                            <strong>总价（元）</strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr align="center">
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    </tbody>
                </table>

            </tab-item>

            <tab-item class="g-item" label="产品展示">
                <p><img src="/static/img/14746095696331.jpg" title="14696851805065.jpg"
                        style="width: 1016px; height: 2320px;" width="1016" height="2320" border="0" hspace="0"
                        vspace="0">
                </p>
            </tab-item>

            <tab-item label="制作须知" class="g-item">
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; font-size: 16px;"><a
                                    href="http://www.gdhuaya.com/default/news/show?id=1187" target="_self"
                                    title="华亚标准档案制作模版"
                                    style="white-space: normal; font-size: 20px; color: rgb(255, 0, 0);"><strong>请下载华亚标准档案制作模版作为参考：</strong></a></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">一、标准名片制作尺寸:</span><br
                                    style="margin: 0px; padding: 0px;">　　名片制作尺寸90×54mm,加完出血92x56mm(四边各含1mm出血位);<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">二、标准名片成品大小:</span><br
                                    style="margin: 0px; padding: 0px;">　　名片成品大小90×54mm;折卡或其它尺寸名片,下单时请注明尺寸大小;<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">三、名片排版方法:</span><br
                                    style="margin: 0px; padding: 0px;">　　名片排版时，请将文字等内容放置于裁切线内3mm，名片裁切后才更美观；<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">四、名片样式:</span><br
                                    style="margin: 0px; padding: 0px;">　　横式名片(90×54mm),竖式名片(54×90mm),折叠名片(90×90mm或180×54mm)及异型名片<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">五、名片制作软件:</span><br
                                    style="margin: 0px; padding: 0px;">　　本公司接受coreldraw软件工具制作的文件,建议使用X4版本;文字需转曲线或外框字;<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">六、名片格式要求:</span><br
                                    style="margin: 0px; padding: 0px;"><span
                                    style="font-size: 16px; margin: 0px; padding: 0px;">　1、CorelDraw请存成CDR格式,(使用CorelDraw特效之图形,请转换成位图,位图分辨率350dpi)。</span></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51);  white-space: normal;">
                            <span style="margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; font-size: 16px;">七、名片文件色彩模式请设为C.M.Y.K模式。<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; font-size: 16px;">八、线条低于0.076mm，印刷将无法显现，需设定不小于0.076mm。&nbsp;<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; font-size: 16px;">九、颜色设定值不能低于8%，以免颜色无法显现。&nbsp;<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="margin: 0px; padding: 0px; font-weight: bold; line-height: 22px; font-size: 16px;">十、横式双面名片正面放左边，反面放右边。&nbsp;<br
                                    style="margin: 0px; padding: 0px;"></span></p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                    <span style="font-weight: bold; line-height: 22px; font-size: 16px;">十一、请尽量不要设置上下或左右等边的花边，因裁切时的误差，恕无法保证四边对称。&nbsp;<br></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51); white-space: normal;">
                            <span style="font-size: 16px;"><span
                                    class="yy"
                                    style="font-size: 16px; margin: 0px; padding: 0px; font-weight: bold; line-height: 22px;">十二、颜色说明：</span>&nbsp;<br></span>
                </p>
                <p style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 12px; line-height: 18px; color: rgb(51, 51, 51);  white-space: normal;">
                            <span style="font-size: 16px;">　 1、不能以屏幕或打印稿的颜色来要求印刷色，填色时请勿使用专色，在制作时务必参照CMYK色值的％数来制作填色。<br
                                    style="margin: 0px; padding: 0px;">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;否则造成之色差不予退货。&nbsp;<br
                                    style="margin: 0px; padding: 0px;">　 2、相同文件在不同次印刷时，色彩都会有轻微差异，特种纸名片更易出现偏色问题，属正常。&nbsp;<br
                                    style="margin: 0px; padding: 0px;">　 3、黑色字不要使用C:100、M:100、Y:100、K:100之四色填色，四色填色总值超过250％以上的大色块，印刷时容易造成<br
                                    style="margin: 0px; padding: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 背印（粘花）。</span></p>
                <p><br></p>
            </tab-item>

            <tab-item label="印品保障" class="g-item">
                <p style="text-indent:2em;"><br></p>
                <div>
                        <span style="font-family:'Microsoft YaHei';line-height:2;">
                            <span style="background-color:#EE33EE;">华亚</span>
                            快印主要服务全国各地的广告公司、名片店、印刷厂及相关从事印刷业的人士，全力支持各地区加盟店事业成长。
                        </span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">一、选择华亚快印的7大优势。</span>
                </div>
                <div>
                        <span style="font-family:'Microsoft YaHei';line-height:2;">
                            <span style="color:#FFFFFF;background-color:#E53333;">1、价格灵活：</span>
                            规模化生产，人性化管理，降低生产成本，根据各地区印刷价格及印刷业务量订制价格，但不含设计（客户需自行提供设计好的cdr、ai、jpg、psd文档格式，）word、excel等office文档不能作印刷。
                        </span>
                </div>
                <div>
                        <span style="font-family:'Microsoft YaHei';line-height:2;">
                            <span style="color:#FFFFFF;background-color:#006600;">2、直接厂家：</span>
                            最具规模专业为同行服务的快印直接生产厂家，非转手“代理商”，对您的客户资料完全保密。</span>
                </div>
                <div>
                        <span style="font-family:'Microsoft YaHei';line-height:2;">
                            <span style="color:#FFFFFF;background-color:#4C33E5;">3、送货上门：</span>
                            珠三角各镇区华亚快印将提供免费送货上门服务。第一次下单请咨询客服人员，并在注册会员号时填写完整详细，如有变动请及时更改，避免产生不必要的纠纷。住二楼以上的客户请在楼下等候，我公司送货人员不负责搬货二楼以上（不便之处请谅解）。</span>
                </div>
                <div>
                            <span style="font-family:'Microsoft YaHei';line-height:2;"><span
                                    style="color:#FFFFFF;background-color:#FF9900;">4、质量保证：</span>无需担心品质问题，工厂设有品检部，所有印刷品通通经过检验后出货，所用纸张油墨均由上市大公司提供，印品质量及数量有保证。</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">如客户发现有印刷品质问题，可直接联系华亚快印品质处理中心。一经核实属于我公司责任立即安排重印，有关退换货，请参考退货处理方式。</span>
                </div>
                <div>
                            <span style="font-family:'Microsoft YaHei';line-height:2;"><span
                                    style="color:#FFFFFF;background-color:#CC33E5;">5、专业团队：</span>数百精英服务团队，从接单到生产，货物配送及售后服务均有专人负责。</span>
                </div>
                <div>
                            <span style="font-family:'Microsoft YaHei';line-height:2;"><span
                                    style="color:#FFFFFF;background-color:#333333;">6、网络实力：</span>投资千万开发订单管理系统、从报价到印刷到出货均有计算机精准管理。最大化最高效的满足客户使用需求，方便客户。</span>
                </div>
                <div>
                            <span style="font-family:'Microsoft YaHei';line-height:2;"><span
                                    style="color:#FFFFFF;background-color:#337FE5;">7、无忧退货：</span>对有争议产品，将实行快捷处理，如属本厂责任，第一时间安排重印。必要时我司安排专人上门处理，积极听取客户意见，及时改正。</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">二、此类客户请勿洽谈咨询；</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">A、退换货不看有关华亚快印退换货规定的请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">B、对我们客服人员颐指气使，甚至于出口伤人的请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">C、对印刷一窍不通、认为印刷可以一夜暴富的请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">D、吹毛求疵、拿放大镜恶意挑毛病的请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">E、恶意拖延货款者请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">F、违反国家相关规定、黄、赌、毒等印刷坚决拒绝</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">G、虚开发票、虚开收据者请勿洽谈</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">三、隐私保障</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">您在本网站上注册的信息、资料、上传的照片，均是通过系统严格保密，确保您的信息安全。我们得向您承诺，我们绝对不向任何人和单位，出售或出借用户的个人信息。</span>
                </div>
                <div>
                    <span style="font-family:'Microsoft YaHei';line-height:2;">合作贵在诚信，互利方可双赢</span>
                </div>
                <p style="text-indent:2em;">
                    <br>
                </p>
                <p style="text-indent:2em;">
                    <br>
                </p></tab-item>

            <tab-item label="配送方式" class="g-item">
                <p>
                        <span style="font-size:14px;color:#000000;line-height:1.5;font-family:'Microsoft YaHei';">
                            <span style="line-height:2;font-family:'Microsoft YaHei';">一、急单配送方式</span>
                        </span>
                </p>
                <p>
                        <span style="font-size:14px;color:#000000;line-height:1.5;font-family:'Microsoft YaHei';">
                            <span style="line-height:2;font-family:'Microsoft YaHei';">1、下订单要马上要货的需上门自取，个别订单费用需面谈。</span>
                        </span>
                </p>
                <p>
                        <span style="font-size:14px;color:#000000;line-height:1.5;">
                            <span style="line-height:2;font-family:'Microsoft YaHei';">二、免费送货配送方式</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 1.华亚快印免费送货范围覆盖珠三角大部分镇区。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 2.注册会员号前请务必填写正确地址以及联系方式。以便我司能够及时确定您所在区域是否能免费送货上门。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 3.由于送货时间紧急，我司送货上门服务不包含二楼及二楼以上客户，二楼以上客户请下楼取货。（不便之处敬请谅解）</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 4.我司送货员可代收货款，在您收到货确认无误后请及时付款。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 三、其他配送方式</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 1.快递：我司不能送货的范围发快递，快递公司代收货款，客户需自付快递费用。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 2.物流：印品由物流公司配送，发至离您最近的物流点后，客户上物流公司自提。需自付费用。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 3.上门自取：对于离我司较近的客户，可以上门自取急单。不是很急的订单建议客户在家静候我司上门送货。上门自取客户小件请自行搬运，大件货物请避免在下班时间自取，照顾不周敬请谅解。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 四、配送时间</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 不同的印品，生产制作的周期也不相同，制作时间查看各产品印刷详情页。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 1.上门送货：今天下单次日到货。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 2.快递：一般1-2天，会比我司专车送货慢一点。</span><br>
                            <span style="line-height:2;font-family:'Microsoft YaHei';"> 3.物流公司：根据配送距离而定。</span><br>
                        </span>
                </p>
                <span style="font-size:16px;">
                        <span style="font-size:14px;line-height:1.5;"></span><br>
                        <span style="font-size:14px;line-height:1.5;"></span><br>
                        <span style="font-size:14px;line-height:1.5;"></span><br>
                        <span style="font-size:14px;line-height:1.5;"></span>
                        <span style="font-size:14px;line-height:1.5;"></span>
                    </span>
            </tab-item>
        </tabs>
    </div>
{% endblock content %}

{% block scripts %}
    {% include "components/tab.html" %}
{% endblock %}