{% load ehcofilter %}
<!DOCTYPE html>
<html lang="zh">
<head>
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% settings_value "TITLE" %}</title>
    <link rel="stylesheet" href="/static/vendor/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendor/css/fontawesome.all.css">
    <link rel="stylesheet" href="/static/vendor/css/bulma.css">
    <link rel="stylesheet" href="/static/home/css/common.css">
</head>

<body>
    <div id="app">
        {% include 'header.html' %}

        {% block content %} {% endblock %}
    </div>

    {% include 'footer.html' %}

    <script src="/static/vendor/js/vue.js"></script>
    {% include 'components/notification.html' %}
    {% include 'components/nav.html' %}

    {% block scripts %} {% endblock %}

    <script type="text/javascript">
        new Vue({
            delimiters: ['[[', ']]'],
            el: "#app"
        })
    </script>
</body>

</html>