<footer style="background-color: rgb(66,66,66); padding-bottom: 40px;">
    <div id="newBottomHtml" class="container">
        <div class="level" style="padding-top: 20px; margin-bottom: 0px">
            <div class="level-item hyky item">
                <p class="ftit">华亚快印</p>
                <p class="is-size-7" style="color: #b3b3b3">网络商务快印供应商</p>
            </div>
            <div class="level-item zlbz item">
                <p class="ftit">华亚品质保证</p>
                <p class="is-size-7" style="color: #b3b3b3">华亚快印向广大客户承诺，产品保质、保量</p>
            </div>
            <div class="level-item txfw item">
                <p class="ftit">贴心服务</p>
                <p class="is-size-7" style="color: #b3b3b3">一对一客户服务，让您下单无忧</p>
            </div>
            <div class="cf"></div>
        </div>

        <div class="footer-border"></div>

        <div class="footer-help columns" style="padding-left: 0;">
            <dl class="column" style="padding-left: 100px;">
                <dt><a>新手指南</a></dt>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=4" target="_blank">新手登录注册</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=4" target="_blank">常见问题</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=5" target="_blank">发票须知</a></dd>
                <!--  <dd><a href="/default/news/show?id=1" target="_blank">标准文档格式下载</a></dd>-->
            </dl>
            <dl class="column">
                <dt><a>订购流程</a></dt>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=6" target="_blank">下单流程</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=7" target="_blank">退换货条款</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=8" target="_blank">常见问题</a></dd>
                <!--<dd><a href="/default/news/show?id=1" target="_blank">标准文档格式下载</a></dd>-->
            </dl>
            <dl class="column">
                <dt><a>物流配送</a></dt>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=9" target="_blank">上门自取</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=10" target="_blank">送货网点</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=1" target="_blank">配送车队</a></dd>
                <dd><a href="javascript:void(0);" onclick="alert('请登录后，在会员中心订单管理中查看！');">货品查询</a></dd>
            </dl>
            <dl class="column">
                <dt><a>售后服务</a></dt>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=7" target="_blank">重印保证</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/jianyi" target="_blank">投诉建议</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=11" target="_blank">法律申明</a></dd>
                <dd><a href="http://www.gdhuaya.com/member/index/findpwd" target="_blank">忘记密码</a></dd>
            </dl>
            <dl class="column">
                <dt><a>帮助中心</a></dt>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=12" target="_blank">更多帮助信息</a></dd>
                <dd><a href="http://www.gdhuaya.com/default/news/show?id=13" target="_blank">常见问题</a></dd>
            </dl>
            <dl class="column last">
                <dt><a>客服服务</a></dt>
                <!-- <dd class=""><a href="/default/news/show?id=1" target="_blank">帮助中心</a></dd>-->
                <dd class=""><a href="tencent://message/?uin=800005246&amp;Site=www.gdhuaya.com&amp;Menu=yes"><img
                        src="/static/img/icon003.png" alt="" width="90px;" height="32px;"></a></dd>
            </dl>
        </div>
        <div style="width: 100%;text-align: center;margin-top: 30px;font-size: 50px;display: none;" id="pcserver">
            <a href="http://m.gdhuaya.com/" style="color: #fff;">手机端</a>
        </div>

        <div class="has-text-centered">
            <p class="is-size-7">
                <a href="http://www.gdhuaya.com/default/news/show?id=1">关于华亚</a>
                <span>|</span>
                <a href="http://www.gdhuaya.com/default/news/show?id=101">联系我们</a>
                <span>|</span>
                <a href="http://www.gdhuaya.com/default/news/show?id=11">服务条款</a>
                <span>|</span>
                <a href="http://www.gdhuaya.com/default/news/show?id=8">常见问题</a>
                <span>|</span>
                <a href="http://www.gdhuaya.com/default/jianyi">投诉建议</a>
                <!--  <span>|</span>
                  <a href="">客服中心</a>-->
                <!--     <span>|</span>
                     <a href="#">网站导航</a>-->
            </p>
        </div>
        <div class="has-text-centered">
            <p class="is-size-7">广东华亚印刷有限公司 <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备14051425号-1</a></p>
        </div>
    </div>

    <style>
        .item {
            padding: 10px 0px 10px 65px;
            display: inline;
            float: left;
        }
        .ftit {
            line-height: 36px;
            font-size: 18px;
            font-weight: bold;
            color: #b3b3b3;
        }
        .hyky {
            background: url("/static/img/index1.png") no-repeat -222px -3px;
            margin: 0px 70px 0px 70px;
        }
        .zlbz {
            background: url("/static/img/index1.png") no-repeat -225px -82px;
            margin: 0px 80px 0px 100px;
        }
        .txfw {
            background: url("/static/img/index1.png") no-repeat -219px -233px;
            margin: 0px 10px 0px 40px;
        }
        .footer-border {
            margin: 10px auto;
            border-top: 2px solid #b3b3b3;
        }
        footer *{
            color: #b3b3b3;
        }
        footer a {
            color: #b3b3b3;
        }
        footer a:hover {
            color: #ffffff;
        }
    </style>
</footer>