<!-- 公告 -->
<div class="container only-desktop" id="gonggao">
{#    <div class="notification is-warning no-round" v-if="!closed" style="margin: 5px 0">#}
{#      <button class="delete" v-on:click="closeNotify"></button>#}
{#      测试公告vue#}
{#    </div>#}
    <notification><h2>测试公告vue</h2></notification>
</div>
<!-- 顶层小菜单导航 -->
<div class="has-background-light">
    <nav class="container only-desktop level is-size-7">
        <div class="level-left">
            <div class="level-item">
                欢迎来到<a class="button is-light is-small" href="/">中山快印网</a>！
            </div>
        </div>
        <div class="level-right">
            {% if user.is_authenticated %}
            <a class="is-small" href="/userinfo/">{{ user.username }}</a>
            <a class="button is-light is-small" href="/logout/">退出</a>
            {% else %}
            <a class="button is-light is-small" href="/login/">登录</a>
            <span>|</span>
            <a class="button is-light is-small" href="/signup/">注册</a>
            {% endif %}
            <span>|</span>
            <a class="button is-light is-small" href="/">网站首页</a>
            <span>|</span>
            <a class="button is-light is-small" href="/orders/?starttime=2018-10-01&amp;endtime=2018-10-08">我的订单</a>
            <span>|</span>
            <a class="button is-light is-small" href="/jianyi" style="color: red">投诉建议</a>
            <span>|</span>
            <a class="button is-light is-small" href="/news/show?id=1">关于华亚</a>
            <span>|</span>
            <a class="button is-light is-small" href="/news/show?id=1">企业介绍</a>
            <span>|</span>
            <a class="button is-light is-small" href="/news/show?id=102">帮助中心</a>
        </div>
    </nav>
</div>

<!-- logo 导航 -->
<div class="container only-desktop level" style="padding-top: 1.5rem;">
        <div class="level-left">
            <div>
                <img alt="华亚快印--商务印刷网" src="/static/img/logo.png">
            </div>
{#            <div style="width:240px;height:62px;position:absolute;top:20px;left:291px;">#}
{#                <img src="statics/20180412164313_61226.png">#}
{#            </div>#}
        </div>
{#        <div class="city_pg fl">#}
{#            <span class="ct s_none">广东站</span>#}
{##}
{#            <div id="btn_qhzd" class="qhzd s_none h20">切换城市#}
{#                <div class="yc_div" style="display: none"></div>#}
{#                <div id="qhzd_list" style="display: none" class="qhzdlist">#}
{#                    <div class="rm s_none">热门城市</div>#}
{#                    <ul id="city_name" class="mb28">#}
{#                        <li><a title="广东站" href="http://www.gdhuaya.com/">广东站</a></li>#}
{#                        <li><a title="成都站" href="http://www.huaya028.com/">成都站</a></li>#}
{#                        <li><a title="昆明站" href="http://www.huaya0871.com/">昆明站</a></li>#}
{#                        <li><a title="贵阳站" href="http://www.huaya0851.com/">贵阳站</a></li>#}
{#                        <li><a title="海南站" href="http://www.huaya0898.com/">海南站</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}

        <div class="level-right">
            <div class="phone">
                <img title="这个是华亚企业QQ,欢迎加我!" alt="" src="/static/img/contact.png" width="546"
                     height="46" align="">
            </div>
        </div>

</div>


<div class="nav-box">
    <nav class="navbar only-desktop nav-main" role="navigation" aria-label="main navigation">
        <div class="navbar-menu">
            <div class="navbar-start">
                {% url 'home:index' as home_index %}
                {% url 'home:quote' as home_quote %}
                {% url 'home:download' as home_download %}
                {% url 'home:about' as home_about %}
                <nav-main :isactive="{% if request.path == home_index %}true{% else %}false{% endif %}"></nav-main>
                <a class="navbar-item nav-btn {% if request.path == home_index %}selected{% endif %}" href="{{ home_index }}">首页</a>
                <a class="navbar-item nav-btn {% if request.path == home_quote %}selected{% endif %}" href="{{ home_quote }}">在线报价</a>
                <a class="navbar-item nav-btn {% if request.path == home_download %}selected{% endif %}" href="{{ home_download }}">下载专区</a>
                <a class="navbar-item nav-btn {% if request.path == home_about %}selected{% endif %}" href="{{ home_about }}">关于</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item nav-btn nav-cart">购物车</a>
            </div>
        </div>
    </nav>
</div>
